html {
	/* font */
	--serif: 'Merriweather', serif;
	--sans-serif: 'Open Sans', sans-serif;

	/* radius */
	--radius-1: 0.125rem;
	--radius-2: 0.25rem;
	--radius-3: 0.5rem;

	/* base colors */
	--magenta-1: #140d10;
	--magenta-2: #250d18;
	--magenta-3: #49142d;
	--magenta-4: #7b1346;
	--magenta-5: #a31a5d;
	--magenta-6: #b12c80;
	--magenta-7: #f27dbb;
	--magenta-8: #dd9ab2;
	--magenta-9: #e9b8c9;
	--magenta-10: #f2e9e4;

	--white-1: #ffffff;
	--white-2: #eeebeb;
	--white-3: #e5e5e5;
	--white-4: #d9d9d9;

	--gray-0: #272727;
	--gray-1: #3a3a3a;
	--gray-2: #4d4d4d;
	--gray-3: #606060;
	--gray-4: #737373;
	--gray-5: #868686;
	--gray-6: #999999;
	--gray-7: #acacac;
	--gray-8: #bfbfbf;
	--gray-9: #d2d2d2;
	--gray-10: #ededed;

	/* dark */
	--brand-dark: var(--magenta-4);
	--text-1-dark: var(--gray-10);
	--text-2-dark: var(--gray-6);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--magenta-1);
	--border-dark: var(--gray-9);

	/* light */
	--brand-light: var(--magenta-8);
	--text-1-light: var(--gray-1);
	--text-2-light: var(--gray-4);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: var(--white-2);
	--border-light: var(--gray-4);
}

html,
body {
	margin: 0;
	height: 100%;
	font: 1em var(--sans-serif);
}

html {
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}

.info-text {
	color: car(--text-2);
	font-style: italic;
}
